$font-family: "DM Sans", sans-serif;
$base-color: #5F27EC;
$secondary-color: #1B1B1B;
$primary-font-weight: 700;
$secondary-font-weight: 500;

@mixin font-weight-primary(){
  font-weight: $primary-font-weight;
}

@mixin font-weight-secondary(){
  font-weight: $secondary-font-weight;
}

@mixin base-color(){
  color: $base-color;
}

@mixin secondary-color(){
  color: $secondary-color;
}

@mixin font-family(){
  font-family: $font-family;
}